<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
  </head>

  <body>



	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="icon.png" alt="Stanley">
					<h1>Welcome!!! B5 Laboratory</h1>
					<p>研究室の勉強会で使ってます!!!</p>
          <p>目指せ世界公開</p>

				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->

  <div class="what_study">
    <h1>What sudy?</h1>
  </div>


	<!-- +++++ Projects Section +++++ -->

	<ul id="img_study">
		<li>
      <img class="img-responsive" src="android.png" />
			<p>android</p>
    </li>
    <li>
      <img class="img-responsive" src="github.jpg" />
			<p>GitHub</p>
    </li>
    <li>
      <img class="img-responsive" src="rails.png" />
			<p>Ruby on Rails</p>
    </li>
  </ul>
  <ul id="img_study">
		<li >
      <img class="img-responsive" src="python.png" />
			<p>Python</p>
    </li>
    <li>
      <img class="img-responsive" src="cpp.png" />
			<p>C++</p>
    </li>
    <li>
      <img class="img-responsive" src="java.png" />
			<p>Java</p>
    </li>
  </ul>



	<!-- +++++ Footer Section +++++ -->

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Place</h4>
					<p>
						Tokushima, Japan.
					</p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>Game Links</h4>
					<p>
						<%= link_to("パズドラ公式", "https://pad.gungho.jp/member/", :target=>["_blank"]) %><br/>
						<%= link_to("モンスト公式", "http://www.monster-strike.com/", :target=>["_blank"]) %><br/>
						<%= link_to("Shadowverse", "https://shadowverse.jp/", :target=>["_blank"]) %>
					</p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>STAFF</h4>
					<p>Higasa<br/>
            Omae<br/>
            Shioji<br/>
            Nakanishi
          </p>
				</div><!-- /col-lg-4 -->

			</div>

		</div>
	</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
