<div class="index_coment">
<h1>コメント一覧</h1>


<% @coments.each do |coment| %>
<img src="<%= "/user_images/#{coment.user.image_name}" %>">
<%= link_to(coment.user.name, "/users/#{coment.user.id}")%>
<div class="index">
<%= link_to(coment.content, "/post/#{coment.id}") %>
</div>
<% end %>
</div>
